body {
  font-family: 'Roboto', Arial, sans-serif;
}

.title {
	font-weight: 400;
}

.header {
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
}

.logo {
	font-family: 'Bungee Inline', cursive;
}

.logo a {
	color: #333;
	font-size: 2.5rem;
}

.logo .tagline {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.4rem;
}

.Nav {
	position: fixed;
	right: 10px;
	top: 10px;
	text-align: left;
	z-index: 10;
}

.Nav button {
	font-size: 0.8rem;
	font-weight: 700;
}

.dropdown-menu {
	min-width: 6rem;
	left: auto;
	right: 0;
}

.dropdown-item {
	font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
	.logo a {
		color: #333;
		font-size: 3.5rem;
	}

	.Nav {
		position: absolute;
		right: 10px;
		top: 20%;
	}

	.dropdown-menu {
		min-width: 9rem;
		left: auto;
		right: 0;
	}
}