.ListedProduct-inner {
	position: relative;
	padding-bottom: 50px;
	border: 1px solid #dbdbdb;
	height: 100%;
	border-radius: 4px;
	background-color: #ebe7e7;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/
}

.ListedProduct figure.image {
	margin-left: auto;
	margin-right: auto;
}

.ListedProduct figure.image img {
    height: 80%;
    width: auto;
    margin: 0 auto;
    margin-top: 1em;
}

.ListedProduct .beer-name {
	padding: .2em;
	/*background-color: #ebe7e7;*/
	text-align: center;
	font-weight: 700;
	font-size: calc(14px + (16 - 14)*(100vw - 400px)/(1200 - 769));
}

.ListedProduct .detail-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
}